<!doctype html>
<html>
	<head>
		<title>Welcome to Cracker Jack</title>
		<link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
		<header>
			<div class = "header">
				<nav>
					<span>Username: CrackerJack</span>
					<!-- TODO: need a logout method to clear the user session and redirects to login page -->
					<a href="/logout">Logout</a>
				</nav>
				<h1 class= "title">You vote it, We post it!</h1>
			</div>
		</header>

		<main>
			<div class ="tweetsection">
				<h2> Add the tweet you want to post here so your group can vote on it </h2>
				<p class="post">
	    			<form action="/posts/new" method="post">
	    				<textarea name="tweetBody" class="input-text"></textarea>
						<!-- TODO: this is hard coded for now, later we will use the session to get the username posting -->
						<input name="username" type="hidden" value="frida"></input>
						<button id="postTweet" type="submit" class="btn btn-primary">Post</button>
					</form>
				</p>	
    		</div>
<!-- I noticed that it takes a while for the widget to update and it also slows down the page, we should consider using stream twitter API or feed API under routes -->
    		<div class ="published">
				<a class="twitter-timeline" href="https://twitter.com/CrackerJack473" data-widget-id="575783346589974529"data-chrome = "nofooter noscrollbar" data-tweet-limit ="5">Tweets by @CrackerJack473</a>
			</div>

			<div class ="unpublished">
				<h1 class = "content">Pending Tweets</h1>
				<!-- we can use the below embedded JS or use the /posts API, same for the votes -->
					<% if (posts) { %>
						<% posts.forEach(function(post) { %>
							<% if (post.published === false) { %>
								<p class="post"><%= post.body%> 
									<%if (post.author) { %>
										- By: <%= post.author.username%>
									<% } %>
										- Votes: <%= post.upvotes - post.downvotes%>
								</p>
								<!-- TODO: need to check if logged in user is not the author of the post, to show the buttons or hide them-->
								<!-- TODO: need to send the logged in user id or session -->
								<a href="/posts/upvote/<%= post._id%>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>

								<a href="/posts/downvote/<%= post._id%>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
								<!-- TODO: check if logged in user is an admin, show publish button -->
								<!-- TODO: discuss the criteria for publishing -->
								<% if (post.upvotes - post.downvotes >= 5) { %>
									<a href="/publish/<%= post._id%>" class="btn btn-default">Publish to Twitter</a>
								<% } %>
							<% } %>				
						<%});%>
					<% } %>
			</div>

		</main>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="javascripts/app.js"></script>
	</body>
</html>	